<h1>Promo Types</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @promo_types.each do |promo_type| %>
  <tr>
    <td><%=h promo_type.name %></td>
    <td><%= link_to 'Show', promo_type %></td>
    <td><%= link_to 'Edit', edit_promo_type_path(promo_type) %></td>
    <td><%= link_to 'Delete', promo_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New promo type', new_promo_type_path %>
