<p>
  <b>Start:</b>
  <%=h @comparison.start %>
</p>

<p>
  <b>Rounded:</b>
  <%=h @comparison.rounded %>
</p>

<p>
  <b>Long title:</b>
  <%=h @comparison.long_title %>
</p>

<p>
  <b>House no:</b>
  <%=h @comparison.house_no %>
</p>

<p>
  <b>Press start:</b>
  <%=h @comparison.press_start %>
</p>

<p>
  <b>Original title:</b>
  <%=h @comparison.original_title %>
</p>

<p>
  <b>Danish title:</b>
  <%=h @comparison.danish_title %>
</p>

<p>
  <b>Contained:</b>
  <%=h @comparison.contained %>
</p>


<%= link_to 'Edit', edit_comparison_path(@comparison) %> |
<%= link_to 'Back', comparisons_path %>