<h1>Settings</h1>
<h2>Field Positions for Playlist file</h2>

<table>
  <tr>
    <th width=50 align="left">Position</th>
    <th width=50 align="left">Length</th>
    <th width=250 align="left">Item</th>
  </tr>

<% @playlist_position_settings.each do |playlist_position_setting| %>
  <tr>
    <td width=50><%=h playlist_position_setting.position %></td>
    <td width=50><%=h playlist_position_setting.length %></td>
    <td width=250><%=h playlist_position_setting.item %></td>
    <td><%= link_to 'Edit', edit_playlist_position_setting_path(playlist_position_setting) %></td>
    <td><%= link_to 'Delete', playlist_position_setting, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


<br />

<%= link_to 'New', new_playlist_position_setting_path %>