<%= f.hidden_field :source %>
<%= f.hidden_field :schedule_comparison %>
<p>
  <%= f.label :house_number %><br />
  <%= f.text_field :house_number %>
</p>
<p>
  <%= f.label :series_id %><br />
  <%= f.collection_select (:series_number_id, @series_numbers, :id, :series_number, :prompt => 'Select a series number')   %>
</p>

<p>
  <%= f.label :title_id %><br />
  <%= f.collection_select (:title_id, @titles, :id, :english, :prompt => 'Select a title')   %>
</p>

