<div id = 'colour_key'>
	<ul>
		<li class = 'heading'>Colour key</li>
		<li>Already in database</li>
		<li class = 'titled_contained'>Found title in database and contained within schedule field</li> 
		<li class = 'titled'>Found title in database</li>
		<li class = 'contained'>Title is contained within schedule field</li>
		<li class = 'missing'>Title cannot be matched</li>
	</ul>
</div>
<%= link_to_function 'Admin' do |page|
               page.select('.admin').each { |a| a.toggle }
          end %>

<div class = 'schedule_comparison_header'>
<h1>Comparison of Schedule with Press File for 

<% if @file %>
	<%=h @file.channel.name %></h1>
	<table class = "comparison_date">
		<tr><th>From</th><td><%=h @file.start.to_s(:broadcast_datetime) if @file.start%></td></tr>
		<tr><th>To</th><td><%=h @file.end.to_s(:broadcast_datetime) if @file.end %></td></tr>
	</table><br />
<% else %>
	</h1>
<% end %>

	<% form_tag schedule_comparisons_path, :method =>'get' do %>	
		<%= select_tag :show, options_for_select(@filter_display, params[:show]),
													{:onchange => 'this.form.submit()'}%>
		<%= select_tag :schedule_filename, options_for_select(@filenames, params[:schedule_filename]),
		                      {:onchange => 'this.form.submit()'} %><br/>
		<%= submit_tag "Recalculate" %>
	<% end %>

<% session[:show_schedule_comparison] = params[:show] %>
<% session[:schedule_comparison_filename] = params[:schedule_filename] %>
</div>
<p></p>
<div class = 'admin' style = 'display:none;'><%= link_to 'Delete all Schedule Comparisons',  delete_all_schedule_comparisons_schedule_comparisons_path,
                                                  :confirm => 'Are you really sure? This is a big change and will take some time.',
                                                  :method => :delete %></div>
<div class = 'schedule_comparison'>
<table>
  <tr>
		<th></th>
    <th>Start</th>
    <th>Title</th>
		<th>Channel</th>
    <th>House No</th>
    <th>Series No</th>
    <th>Original title</th>
    <th>Local title</th>
  </tr>
<% form_tag :action => :add_multiple do%>
	<% @schedule_comparisons.each do |schedule_comparison| %>
	  <tr class = "<%= schedule_comparison.row_css %>">
			<td><%= check_box_tag "schedule_comparison_ids[]", schedule_comparison.id, false , :class => 'checks' %></td>
	    <td><%=h schedule_comparison.start.to_s(:broadcast_datetime) %></td>
	    <td><%=h schedule_comparison.title %></td>
			<td><%=h schedule_comparison.channel.name unless schedule_comparison.channel.nil? %></td>
	    <td><%=h schedule_comparison.house_number %></td>
	    <td><%=h schedule_comparison.series_number %></td>
	    <td><%=h schedule_comparison.original_title %></td>
	    <td><%=h schedule_comparison.local_title %></td>
	    
	    <td><% if schedule_comparison.found_house %>
						Already in database
					<% elsif schedule_comparison.found_title %>
						<%= link_to "Add House Number to Title", :action => :add, :id => schedule_comparison %><br/>
						<%= link_to "Manually add House Number", :controller => :houses, 
												:action => :new_from_schedule_comparison, :id => schedule_comparison %>
					<% elsif schedule_comparison.contained %>
						<%= link_to "Add Title and House Number", :action => :add, :id => schedule_comparison %><br/>
						<%= link_to "Find Title in Press listing", :controller => :press_lines, 
														:action => :index, :search => schedule_comparison.original_title_as_param,
														:press_date => schedule_comparison.start.to_s(:broadcast_date_full_month),
														:source => 'Schedule Comparison',
														:channel => schedule_comparison.channel.name, 
														:id => schedule_comparison %><br/>
						<%= link_to "Manually add House Number", :controller => :houses, 
												:action => :new_from_schedule_comparison, :id => schedule_comparison %>
					<% else %>
						<%= link_to "Find Title in Press listing", :controller => :press_lines, 
														:action => :index, :search => schedule_comparison.original_title_as_param,
														:press_date => schedule_comparison.start.to_s(:broadcast_date_full_month),
														:source => 'Schedule Comparison',
														:channel => schedule_comparison.channel.name, 
														:id => schedule_comparison %><br/>
						<%= link_to "Manually add House Number", :controller => :houses, 
														:action => :new_from_schedule_comparison, :id => schedule_comparison %>
					<% end %>    			
			</td>
	 	 </tr>
	<% end %>
	<%= submit_tag "Add all checked"%>
	<span class = 'link_button'>
	<%= link_to_function 'Check all', "$$('input.checks').each(function(checkbox) { checkbox.checked = true; });" %>
	<%= link_to_function 'Uncheck all', "$$('input.checks').each(function(checkbox) { checkbox.checked = false; });" %>
	</span>
<% end %>	
</table>
</div>
