<p>
  <b>Start:</b>
  <%=h @schedule_comparison.start %>
</p>

<p>
  <b>Title:</b>
  <%=h @schedule_comparison.title %>
</p>

<p>
  <b>House number:</b>
  <%=h @schedule_comparison.house_number %>
</p>

<p>
  <b>Series number:</b>
  <%=h @schedule_comparison.series_number %>
</p>

<p>
  <b>Press start:</b>
  <%=h @schedule_comparison.press_start %>
</p>

<p>
  <b>Original title:</b>
  <%=h @schedule_comparison.original_title %>
</p>

<p>
  <b>Local title:</b>
  <%=h @schedule_comparison.local_title %>
</p>

<p>
  <b>Contained:</b>
  <%=h @schedule_comparison.contained %>
</p>

<p>
  <b>Found house:</b>
  <%=h @schedule_comparison.found_house %>
</p>

<p>
  <b>Found series:</b>
  <%=h @schedule_comparison.found_series %>
</p>

<p>
  <b>Found title:</b>
  <%=h @schedule_comparison.found_title %>
</p>


<%= link_to 'Edit', edit_schedule_comparison_path(@schedule_comparison) %> |
<%= link_to 'Back', schedule_comparisons_path %>