<p>
  <b>Note:</b>
  <%=h @version.note %>
</p>

<p>
  <b>Prog first tx:</b>
  <%=h @version.prog_first_tx %>
</p>

<p>
  <b>First use:</b>
  <%=h @version.first_use %>
</p>

<p>
  <b>Last use:</b>
  <%=h @version.last_use %>
</p>

<p>
  <b>Tx info:</b>
  <%=h @version.tx_info %>
</p>

<p>
  <b>Name:</b>
  <%=h @version.name %>
</p>

<p>
  <b>Duration:</b>
  <%=h @version.duration %>
</p>

<p>
  <b>Sponsor:</b>
  <%=h @version.sponsor %>
</p>

<p>
  <b>Uk premiere:</b>
  <%=h @version.uk_premiere %>
</p>

<p>
  <b>Promo:</b>
  <%=h @version.promo_id %>
</p>

<p>
  <b>Producer:</b>
  <%=h @version.producer_id %>
</p>


<%= link_to 'Edit', edit_version_path(@version) %> |
<%= link_to 'Back', versions_path %>