
<%= f.hidden_field :channel %>
  <p>
    <%= f.label "Schedule Title" %><br />
    <%= f.text_field :schedule_title, :size => 80 %>
  </p>
  <p>
    <%= f.label "Display Title" %><br />
    <%= f.text_field :display_title, :size => 80 %> 
  </p>
	
