<h1>Editing title</h1>

<% form_for(@title) do |f| %>
  <%= f.error_messages %>

	<%= render :partial => 'entry', :locals	=> {:f => f} 	%>

    <%= f.submit 'Update' %>
  </p>
<% end %>

<% if @title.source == 'Press' %>
<%= link_to 'Back', press_lines_with_date(nil, @title.channel)%>
<% else %>
<%= link_to 'Back', :back %>
<% end%>