<% content_for(:title) do%>
	Programme Titles: MuVi2 Database
<% end %>

<fieldset>
	<legend>Programme Titles</legend>
		<% form_tag titles_path, :method =>'get' do %>
			<p>
				<%= text_field_tag :search, params[:search], :size => 45 %>
				<%= submit_tag "Search", :name => nil %>
			</p>
		
			<%= select_tag :language, options_for_select(@languages.insert(0,"All"), 
											params[:language]),{:onchange => 'this.form.submit()'} %> | 
			<%= label_tag :house_no, "Show House/Series Numbers" %>
			<%= check_box_tag :house_no, value ="1", params[:house_no],{:onchange => 'this.form.submit()'} %><br/>
			
		<% end %>
</fieldset>
		<% session[:language] = params[:language] %>
		<% session[:house_no] = params[:house_no] %>
		
<p class = 'link_button'>
	<%= link_to 'New title', new_title_path %>
</p>

<%= will_paginate @titles %>

<table>

  <tr>
    <th id = 'lang'>English</th>
		<% if @danish %><th  id = 'lang'>Danish</th><% end %>
    <% if @swedish %><th id = 'lang'>Swedish</th><% end %>
    <% if @norwegian %><th id = 'lang'>Norwegian</th><% end %>
    <% if @hungarian %><th id = 'lang'>Hungarian</th><% end %>
    <% if @show_house %><th>House/Series No(s)</th><% end %>
		<th>EOP</th>
  </tr>
	</div>
<% @titles.each do |title| %>
  <tr>
    <td id = 'lang'><%=h title.english %></td>
    <% if @danish %><td id = 'lang'><%=h title.danish %></td><% end %>
    <% if @swedish %><td id = 'lang'><%=h title.swedish %></td><% end %>
    <% if @norwegian %><td id = 'lang'><%=h title.norwegian %></td><% end %>
    <% if @hungarian %><td id = 'lang'><%=h title.hungarian %></td><% end %>
		</div>
		<% if @show_house %>
			<td>
				<table>
					<% title.houses.each do |h| %>
						<tr>
							<td><%=h h.house_number %></td>
							<td><%=h h.series_number.series_number if h.series_number %>
						</tr>
					<% end %>
				</table>
			</td>
		<% end %>
		<td><%= h title.eop_display %></td>
		<td><%= link_to 'Show', title %>
    <td><%= link_to 'Edit', edit_title_path(title) %></td>
    <td><%= link_to 'Delete', title, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @titles %>
