<%= calendar_date_select_includes "custom", :locale=>'uk' %>
<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :description %><br />
  <%= f.text_field :description %>
</p>
<p>
  <%= f.label :title_id %><br />
  <%= f.collection_select (:title_id, @titles, :id, :schedule_title, :prompt => 'Select a title')   %>
</p>
<p>
  <%= f.label "Promo Type" %><br />
  <%= f.collection_select (:promo_type_id, @promo_types, :id, :name, :prompt => 'Select a promo type')   %>
</p>

<p>
  <%= f.label :first_use %><br />
	<%= f.calendar_date_select :first_use, {:month_year => :label, :minute_interval => 1} %>
</p>
<p>
  <%= f.label :last_use %><br />
	<%= f.calendar_date_select :last_use,  {:month_year => :label, :minute_interval => 1} %>
</p>
<p>
  <%= f.label 'Season Start (Leave blank for Totally Generic)' %><br />
  <%= f.text_field :season_start %>
</p>
<p>
  <%= f.label 'Season End (leave blank for Totally Generic or only one season)' %><br />
  <%= f.text_field :season_end %>
</p>
<p>
  <%= f.label 'Episode Start (Leave blank for Totally Generic. For multi season this is the first episode in Season Start)' %><br />
  <%= f.text_field :episode_start %>
</p>
<p>
  <%= f.label 'Season End (Leave blank for Totally Generic. For multi season this is the last episode in Season End)' %><br />
  <%= f.text_field :episode_end %>
</p>
