<%= calendar_date_select_includes "custom", :locale=>'uk' %>

<table>
<tr><td>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</td>
<td>
  <%= f.label :description %><br />
  <%= f.text_field :description %>
</td>
</tr>

<tr><td>
  <%= f.label :channel_id %><br />
  <%= f.collection_select (:channel_id, @channels, :id, :name, :prompt => 'Select channel')   %>
</td></tr>

<tr><td>
  <%= f.label :first_use %><br />
	<%= f.calendar_date_select :first_use, {:month_year => :label, :minute_interval => 1} %>
</td>
<td>
  <%= f.label :last_use %><br />
	<%= f.calendar_date_select :last_use,  {:month_year => :label, :minute_interval => 1} %>
</td></tr>
<tr><td>
  <p>
    <%= f.label :priority %><br />
    <%= f.text_field :priority %>
  </p>
</td>
</table>
