<% content_for(:title) do%>
	Promos: MuVi2 Database
<% end %>

<fieldset>
	<legend>Promos</legend>
		<% form_tag promos_path, :method =>'get' do %>
			<p>
				<%= text_field_tag :search, params[:search], :size => 45 %>
				<%= submit_tag "Search", :name => nil %>
			</p>
		<% end %>
		
</fieldset>

<br/>
<%= link_to 'New promo', new_promo_path %> 
<%= will_paginate @promos %>
<table width = '90%'>
  <tr>
    <th>Promo</th>
    <th>Channel</th>
    <th>Priority</th>
  </tr>
  
  <% @promos.each do |promo| %>
	  <tr>
	    <td><b><%=link_to(h(promo.name), promo) %></b></td>
	    <td><%=h promo.channel.name unless promo.channel.nil? %></td>
	    <td><%=h promo.priority %></td>
	    <td width = '50'><%= link_to 'Details', promo %></td>
	    <td width = '50'><%= link_to 'Edit', edit_promo_path(promo) %></td>
	    <td width = '50'><%= link_to 'Destroy', promo, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %> 
</table>

<br/>

<%= will_paginate @promos %>
