  <%= f.hidden_field :source %>
  <%= f.hidden_field :dynamic_special_id %>

  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :default_text %><br />
    <%= f.text_field :default_text %>
  </p>
