<h1>Editing special_field</h1>

<% form_for(@special_field) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :default_text %><br />
    <%= f.text_field :default_text %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @special_field %> |
<%= link_to 'Back', special_fields_path %>