<p>
  <b>Number:</b>
  <%=h @special_field.number %>
</p>

<p>
  <b>Description:</b>
  <%=h @special_field.description %>
</p>

<p>
  <b>Default text:</b>
  <%=h @special_field.default_text %>
</p>


<%= link_to 'Edit', edit_special_field_path(@special_field) %> |
<%= link_to 'Back', special_fields_path %>