<h1>Editing aspect</h1>

<% form_for(@aspect) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :file_suffix %><br />
    <%= f.text_field :file_suffix %>
  </p>
	<p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @aspect %> |
<%= link_to 'Back', aspects_path %>