<p>
  <%= f.label :item %><br />
  <%= f.text_field :item %>
</p>
<p>
  <%= f.label :position %><br />
  <%= f.text_field :position %>
</p>
<p>
	<%= f.label :deletion_rule %>
  <%= f.check_box :deletion_rule %>
</p>