<fieldset>
	<legend>Playlist file</legend>
	<% form_tag({:action => :upload_playlist}, :multipart => true) do %>
		<p>Select the playlist file to process:</p>
  	<%= file_field_tag 'playlist', {:size => 60} %><br/>
		<%= submit_tag("Process") %>
	<% end %>
</fieldset>

<fieldset>
	<legend>Schedule file</legend>
	<% form_tag({:action => :upload_schedule}, :multipart => true) do %>
		<p>Select the schedule file to process:</p>
  	<%= file_field_tag 'schedule', {:size => 60} %><br/>
		<%= submit_tag("Process") %>
	<% end %>
</fieldset>

<fieldset>
	<legend>Press file</legend>
<% form_tag({:action => :upload_press_file}, :multipart => true) do %>
	<p>Select the press file to process<br/>
  <%= file_field_tag :press_file, {:size => 60} %></p>
<%= observe_field :press_file, :frequency => 1.0, :url => {:action => 'upload'}, 
									:with => "'press_file=' + encodeURIComponent(value)"%>
	<p><%= label_tag "Channel" %><br/>
	<%= select_tag :channel, options_for_select(@channels.insert(0, "Please select" ), params[:channel])  %></p>
	<%= submit_tag("Process") %>
<% end %>
</fieldset>

<fieldset>
	<%= calendar_date_select_includes "custom", :locale=>'uk' %>
	<legend>Web access Press File</legend>
	<% form_tag ({:action => :web_upload_press_file}) do%>
		<p>
			<%= calendar_date_select_tag :press_date, params[:press_date], :month_year => :label %>
		</p>
		<%= select_tag :channel, options_for_select(@channels, params[:channel])  %><br/>
		Tick to load English titles (Viasat Film) <%= check_box_tag :english %></p>
		<%= submit_tag("Process") %>
	<% end %>
</fieldset>
	
		