<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<title><%= (yield :title) || 'MuVi2 Sky Media Management Database' %></title>
		<%= stylesheet_link_tag "programme", "scaffold", :media => "all" %>
		<%= javascript_include_tag :defaults %>

	</head>
	<body id="store">
		<div id="banner">
			<%= image_tag("logo.png") %>
			<%= @page_title || "ClarityGen Web Application for Sky" %>
		</div> 
		<div id="columns">
			<div id="side">
				<%= link_to 'Home', root_url%><br /> 
				
				<h4>Titles Database</h4>
				<%= link_to 'Process Playlist, Press or Schedule Files ', uploads_path %><br/>
				<%= link_to 'Comparison with Playlist', comparison_path_with_last_filename %><br/>
				<%= link_to 'Comparison with Schedule', schedule_comparison_path_with_last_filename %><br/><br/>
				<%= link_to 'Programme Titles', titles_path_with_language %><br/>
				<%= link_to 'House Numbers', houses_path %><br/>
				<%= link_to 'Series Numbers', series_numbers_path %><br/>
				<%= link_to 'Cross Channel Priorities', cross_channel_priorities_path %><br/><br/>
				<%= link_to 'View Playlist File ', playlist_lines_path_with_show_and_filename %><br/>
				<%= link_to 'View Press File ', press_lines_with_date(nil,nil) %><br/>
				<%= link_to 'View Priorities', priority_with_date(nil, nil, nil) %><br/>
				<%= link_to 'View Schedule File ', schedule_line_path_with_last_filename %><br/>

				<h4>Preview Images</h4>
					<%= link_to 'Scan Images', jpeg_folders_path %><br/>
					<%= link_to 'Images', jpegs_path %>
				<h4>Media</h4>
					<%= link_to 'Bugs', bugs_path %><br/>
					<%= link_to 'Promo Media', promos_path %><br/>
					<%= link_to 'Promo Media not ready' , media_files_unready_path %><br/>
					<%= link_to 'Promo Media past last use', promo_past_last_use_path %><br/>
					<%= link_to 'Countdown IPPs', countdown_ipps_path %><br/>
					<%= link_to 'Dynamic Specials', dynamic_specials_path %><br/>
					<%= link_to 'Media Files', media_files_path_with_type %><br/>
					<%= link_to 'Media Files past last use', media_files_past_last_use_path %><br/>
					<%= link_to 'Media Folders', media_folders_path %><br/>
				<h4>Settings</h4>
					<%= link_to 'Media Types', media_types_path %><br/>
					<%= link_to 'Playlist File', playlist_position_settings_path %><br/>
					<%= link_to 'Press File', press_tab_settings_path %><br/>
					<%= link_to 'Schedule File', schedule_tab_settings_path %><br/>
					<%= link_to 'Common Words', commons_path %><br/>
					<%= link_to 'Channels',channels_path %><br/>
					<%= link_to 'Languages',languages_path %><br/>
					<%= link_to 'Words to Ignore', ignores_path %><br/>
					<%= link_to 'Playlist Filenames', playlist_filenames_path %><br/>
					<%= link_to 'Press Filenames', press_filenames_path %><br/>
					<%= link_to 'Schedule Filenames', schedule_files_path %><br/>
					<%= link_to 'Status Messages', statuses_path %><br/>	
					<%= link_to 'Aspect Ratio', aspects_path %><br/>			
			</div> 
			<div id="main">
				<p style="color: green">
					<% if flash[:notice] != nil %>
						<% flash[:notice].split(". ").each do |fl| %>
							<%= fl %> <br />
						<% end %>
					<% end %>
				</p>
				<%= yield :layout %>
			</div>
		</div>
	</body>
</hmtl>
